<!doctype html>
<html>

<title>{% block title %}{% endblock %} - Flaskr</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<body class="vh-100">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu">
        <span class="navbar-toggler-icon" />
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav">
            <li><a class="nav-link active" href="{{ url_for('index') }}">Flaskr</a></li>
            <li><a class="nav-link" href="{{ url_for('blog.index') }}">Posts</a></li>
            <li><a class="nav-link" href="{{ url_for('plot.plot') }}">Plot</a></li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if g.user %}
                <li><span class="navbar-text">{{ g.user['username'] }}</span>
                <li><a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a>
            {% else %}
                <li><a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
                <li><a class="nav-link" href="{{ url_for('auth.login') }}">Log In</a>
            {% endif %}
        </ul>
    </div>
</nav>
<!--
<nav>
  <h1><a href="{{ url_for('index') }}">Flaskr</a></h1>
  <ul>
    <li><a href="{{ url_for('blog.index') }}">Posts</a></li>
    <li><a href="{{ url_for('plot.plot') }}">Plot</a></li>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
-->
<section class="content">

  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</section>
</html>